@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    background-color:#000;
    display:flex;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    align-items: center;
}

.imdb{
    color:#ff0000;
    font-weight: bold;
}

img{
    width:200px ;
    height:200px;
}

a{
    text-decoration:none;
    color:#000;
}

.container{
    background-color: aliceblue;
    width:1700px;
    
    border-radius:8px;
    display: flex;
    flex-direction: column;
    padding:20px;
}

.container .trending-section{
    display:flex;
    flex-direction: column;
    padding:30px;
    margin-top:20px;
}

.container .trending-list{
    display:flex;
    flex-direction: column;
    padding-top:10px;
    overflow-x:scroll;
}

.container .trending-section h1{ 
  font-size: 1.2rem;
  color:grey;
  font-weight:bold;
}

.container .content-flex{
    display: flex;
}

.container .each-content{
    display:flex;
    flex-direction: column;
    margin-right:20px;
    text-align:center;
    width:400px;
}

.container .anticipated-section{
    padding:20px;
    display: flex;
    flex-direction: column;
}

.container .anticipated-list{
    overflow-x: scroll;
    overflow-y: hidden;
}

.container .anticipated-section h1{
    color:grey;
    font-size:1.3rem;
   font-weight: bold;
   padding:20px;
}


